.App {
  margin: auto;
  flex: 1;
}

.App .welcome-screen {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

.App .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    margin: auto;
}

.navbar .left {
}

.navbar .right {
}

.App .play {
    margin-left: 50px;
    margin-right: 50px;
}

.App .nav-button {
    cursor: pointer;
}

.App .nav-button-disabled {
    color: lightgray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media only screen and (max-width: 600px) {
    .App .play {
        margin-left: 0px;
        margin-right: 0px;
    }
}