body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body > #root > div {
    height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(./fonts/font.otf) format('opentype');
}

* {
    font-family: 'MyFont';
}

footer {
    bottom: 20px;
    position: absolute;
    align-items: center;
    width: 50%;
    text-align: center;
}

.footertext {
    font-size: 10px;
    color: lightgray;
}

.flex-row {
    flex-direction: row;
    display: flex;
}

.full-width {
    width: '100%';
}


.react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.bottom:after {
    margin-top: 5px;
}

.react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.top:after {
    margin-top: 5px;
}

.react-dropdown-tree-select {
    flex-grow: 1;
}

.radio-select {
    width: 100%;
}

.react-dropdown-tree-select div a {
    flex: 1;
    flex-direction: row;
    display: flex !important;
    width: 100%;
}

.tag-list {
    flex-grow: 1;
    flex-direction: row;
    display: flex !important;
}

.tag-item {
    flex-grow: 1;
    display: flex !important;
}
.tag-item input {
    flex-grow: 1;
}

.selected-item {
    flex-grow: 0 !important;
}

.parent-item input {
    display: none;
}

.parent-item label {
    pointer-events: none;
}


.parent-item span {
    pointer-events: none;
}
